.container {
  padding: 0 2rem;
  margin: 3rem auto 6rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: inherit;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.signout {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  color: #3d5a80;
  text-decoration: none;
  cursor: pointer;
}

.signout:hover {
  color: #ee6d4d;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.profileActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.publish {
  padding: 8px 12px;
  border-radius: 20px;
  margin: 4px 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #3d5a80;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.publish:hover {
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.stats {
  padding: 8px 12px;
  border-radius: 20px;
  margin: 4px 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #3d5a80;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.stats:hover {
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance {
  padding: 4px 8px;
  border-radius: 20px;
  margin: 4px 14px;
  text-decoration: none;
  color: white;
  background-color: #98c1d9;
  font-size: 0.7rem;
}
